:root {
  --primary-color: #E66A47; /* Color inicial por defecto */
  --secondary-color: #eff7f8;
}

/*
DEFAULT
  --primary-color: #089bab
  --secondary-color: #eff7f8
MAPFRE
  --primary-color: #D81E05;
  --secondary-color: #FEEDEB;
PACIFICO
  --primary-color: #0099CC;
  --secondary-color: #EBFAFF;
*/


#loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  align-items: center;
  justify-content: center;
}

#loader-center {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #E66A47;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

/*Clases para cambio segun aseguradora*/
.wrapper {
  background-color: var(--primary-color) !important;
}

.content-page{
  background-color: var(--secondary-color) !important;
}

.bg-primary, .badge-primary{
  background: var(--primary-color) !important;
}

.iq-bg-primary{
  background: var(--secondary-color) !important;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
