<!DOCTYPE html>
<html>
<head>
    <title>Recuperación de Contraseña</title>
</head>
<body>
    <h2>Solicitud de Recuperación de Contraseña</h2>
    <p>Hola,</p>
    <p>Hemos recibido una solicitud para restablecer tu contraseña.</p>
    <p>Número de Documento: <strong>{{ identityNumber }}</strong></p>
    <p>Haz clic en el siguiente enlace para restablecer tu contraseña:</p>
    <a href="{{ base_url }}password-recovery/reset-view?token={{ token }}">Recuperar contraseña</a>
    <p>Si no solicitaste este cambio, ignora este mensaje.</p>
    <p>Saludos,<br>El equipo de soporte</p>
</body>
</html>