{% extends 'Layouts/main.twig' %} {% block content %}
<div class="container-fluid">
   <div class="row">
      <div class="col-lg-6">
         <div class="iq-card">
            <div class="iq-card-header d-flex justify-content-between">
               <div class="iq-header-title">
                  <h4 class="card-title">Form Grid</h4>
               </div>
            </div>
            <div class="iq-card-body">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate, ex ac venenatis mollis, diam nibh finibus leo</p>
               <form method="POST" action="{{ base_url('saveEmployee') }}" id="formTest">
                  <input type="hidden" name="{{ csrf_token() }}" value="{{ csrf_hash() }}">
                  <div class="row">
                     <div class="col">
                        <input type="text" class="form-control" placeholder="First name">
                     </div>
                     <div class="col">
                        <input type="text" class="form-control" placeholder="Last name">
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
  <div class="row">

  </div>
</div>
{% endblock %}

{% block javascriptAPP %}

{% endblock %}