{% extends 'Layouts/main.twig' %} {% block content %}
<div class="container-fluid">
   <div class="row">
      <div class="col-lg-12">
         <div class="row">
            Estas en el modulo de siniestros / siniestros
         </div>
      </div>
   </div>
  <div class="row">

  </div>
</div>
{% endblock %}

{% block javascriptAPP %}

{% endblock %}